body,
html {
  background-color: lightgray;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#initials-input-wrapper {
  padding-top: 4rem;
}

#game-canvas-wrapper {
  padding-top: 4rem;
}

.hidden {
  display: none;
}
