body,
html {
  background-color: lightgray;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#initials-input-wrapper {
  padding-top: 4rem;
}

#team-choice-wrapper {
  padding-top: 4rem;
}

#game-canvas-wrapper {
  padding-top: 4rem;
}

#win-screen {
  width: 100%;
  height: 100
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
  display: block;
  padding-top: 4rem;
}

.hidden {
  display: none;
}
